h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #f1f1f1;
    align-items: center;
    text-align: center;
    padding: 0 0 20px 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/IMC.Realistablack.png");
    background-size: fill;
    background-position: 0;
    align-items: center;
    text-align: center;
}

input {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin: 2px 0;
    padding: 4px;
    text-align: center;
}

input:hover{
    background-color: #f1f1f1;
}

button {
    background-color: #716d6d; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #f1f1f1;
}



a {
    text-decoration: none;
    color: #720000;
    cursor: pointer;
}

a:hover {
    color: rgb(139, 104, 0);
}

.header {
    color: #720000;
    text-align: center;
    padding: 10px 0 50px 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    
    color: #720000;
    text-align: center;
    padding: 10px 0;
}

.footer p {
    color: #000000;
}


@media (max-width: 600px) {
    .footer {
        font-size: 12px;
    }
    p {
        padding: 0 15px;
        font-size: 20px;
    }

    input {
        
        font-size: 25px;
    }

    button {
        padding: 5px 20px;
        font-size: 20px;
    }
}

@media (min-width: 800px) {
    .footer {
        font-size: 25px;
    }
    p {
        padding: 0 15px;
        font-size: 30px;
    }

    input {
        
        font-size: 30px;
    }

    button {
        padding: 10px 20px;
        font-size: 28px;
    }
}
